<h1>Import and Export history</h1>

<h4>Export</h4>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to("Export all history in CSV", imports_path(format: :csv)) %>
  </div>
</div>

<h4>Import</h4>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to("Export all history in CSV", imports_path(format: :csv)) %>
  </div>
</div>
